/* Dictionary styles */

dt {
    float: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: black;
  }

dt::after {
    content: ":";
  }

dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
  }
  dd::after { 
    content: "";
    display: table;
    clear: left;
  }