body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
.header-container {
    background-color: black;
    height: auto;
}

.header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.header img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 100%;
}

.topnav {
    background-color: black;
    padding: 1em;
    text-align: center;
    margin: auto;
}

.topnav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
}

.topnav a:hover {
    background-color: white;
    color: black;
    border-bottom: 10px solid grey;
}

/* Section Styles */
section {
    margin: 1em;
    padding: 20px;
}

/* Aside Styles */
/* .aside {
    flex: 1;
    float: left;
    width: 100%;
    padding: 30px;
} */

/* Figure styles to potentially replace aside */
figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
    float: left;
  }
  
  figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }
  

/* regions table styles */
table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
    margin: 0;
}

.regions {
    border: 2px solid black;
    font-size: 20px;
}

.regions thead {
    background-color: black;
    color: white;
    font-size: medium;
}

.regions th, .regions td {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}

/* Profile Styles */

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1100px; 
    margin: auto; 
}

.profile {
    width: 300px;
    margin: 10px;
    text-align: center;
}

.profile img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.details {
    margin-top: 10px;
}

.details p{
    text-align: center;
    font: bold;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}