body {
    margin:0 ;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
.header-container, .header, .topnav {
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.header img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 100%;
}

.topnav {
    padding: 1em;
    text-align: center;
    margin: auto;
}

.topnav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
}

.topnav a:hover {
    background-color: white;
    color: black;
    border-bottom: 10px solid grey;
}

/* sticky nav styles */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

/* Article/Section Styles */
article {
    margin: 20px auto;
    padding: 30px;
    max-width: 1000px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

article h1 {
    color: #333; 
}

article p {
    font-size: 16px; 
    line-height: 1.5; 
    color: #555;
}

section{
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

hr {
    border: solid black 1px;
    width: 75%;
    color: black;
  }

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .header {
        height: 150px;
    }

    .header img {
        height: 80%;
    }

    .topnav {
        padding: 0.5em;
    }

    article, section {
        padding: 15px;
    }

    figure {
        float: none;
        margin: auto;
    }

    dd {
        margin: 0;
    }

    .profile img {
        height: 400px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        height: 120px;
    }

    .header img {
        height: 70%;
    }

    .topnav {
        padding: 0.3em;
    }

    article, section {
        padding: 10px;
    }

    figure {
        float: none;
        margin: auto;
    }

    dd {
        margin: 0;
    }

    .profile img {
        height: 300px;
    }
}